/*  ------------- G E N E R A L   S T Y L E------------ */
 body
{
    
    font-family: 'Poppins', sans-serif;
    color: #343434;
    font-weight: 400;
} 
 h1, h2, h3, h4, h5, h6
{
    font-family: 'Montserrat', sans-serif;      
} 
p
{
    color: #6c757d;
}
:root
{
    --main-color: #e65f78 ;
    --home-color:white;
    --body-color:#343434;
    --dark-color:black;
    --border-color: azure;
}

/*  -------------E N D  G E N E R A L   S T Y L E------------ */

/*  ------------- H O M E   S E C T I O N------------ */

.home
{
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: cover;
   
}
.home .home__layer
{
    background-color: rgba(0, 0, 0, 0.6);
}
.container .navbar-brand
{
    
        float: left;
        padding-top: 25px;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        font-family: 'Montserrat', sans-serif; 
}
.navbar-nav .nav-link
{
    color:var(--home-color);
    font-family: 'Poppins', sans-serif;
    padding: 25px 0px;
    font-size: 14px;
}
.navbar-expand-lg
{
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-nav .nav-link.active
{
    color:var(--home-color);
    position: relative;

}
.navbar-nav .nav-link.active::after
{
    content: "";
    border: solid 0.5px;
    width: 40px;
    position: absolute;
    background-color: var(--home-color);
    top: 65%;
    left: 50%;
    translate: -50%;

}

@media screen and (max-width:600px)
{
    .navbar-nav .nav-link.active::after
    {
    display: none;

    }
}
@media screen and (min-width:601px) and (max-width:700px)
{
    .navbar-nav .nav-link.active::after
    {
    display: none;

    }
}
@media screen and (min-width:701px) and (max-width:800px)
{
    .navbar-nav .nav-link.active::after
    {
    display: none;

    }
}
@media screen and (min-width:801px) and (max-width:900px)
{
    .navbar-nav .nav-link.active::after
    {
    display: none;

    }
}
@media screen and (min-width:901px) and (max-width:1200px)
{
    .navbar-nav .nav-link.active::after
    {
    display: none;

    }
}

.home__caption h5
{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
    
}
.home__caption h1
{
    font-weight: 300;
}
.typing::after
{
    content: "I AM Larry Daniels|";
    animation-name:moveletter;
    animation-duration: 10s ;
    

    
}
@keyframes moveletter
{
 1%{content: "I AM|";}
 2%{content: "I AM L|";}
 3%{content: "I AM La|";}
 4%{content: "I AM Lar|";}
 5%{content: "I AM Larr| ";}
 6%{content: "I AM Larry| ";}
 7%{content: "I AM Larry D| ";}
 8%{content: "I AM Larry Da|";}
 9%{content: "I AM Larry Dan|";}
 10%{content: "I AM Larry Dani|";}
 11%{content: "I AM Larry Danie|";}
 12%{content: "I AM Larry Daniel|";}
 13%{content: "I AM Larry Daniels|";}
 14%{content: "I AM Larry Daniel|";}
 15%{content: "I AM Larry Danie|";}
 16%{content: "I AM Larry Dani|";}
 17%{content: "I AM Larry Dan|";}
 18%{content: "I AM Larry Da|";}
 19%{content: "I AM Larry D|";}
 20%{content: "I AM Larry |";}
 21%{content: "I AM Larr|";}
 22%{content: "I AM Lar|";}
 23%{content: "I AM La|";}
 24%{content: "I AM L|";}
 40%{content: "I AM D|";}
 41%{content: "I AM De|";}
 42%{content: "I AM Des|";}
 43%{content: "I AM Desi|";}
 44%{content: "I AM Desig|";}
 45%{content: "I AM Design|";}
 46%{content: "I AM Designe|";}
 47%{content: "I AM Designer|";}
 48%{content: "I AM Designe|";}
 49%{content: "I AM Design|";}
 50%{content: "I AM Desig|";}
 51%{content: "I AM Desi|";}
 52%{content: "I AM Des|";}
 53%{content: "I AM De|";}
 54%{content: "I AM D|";}
 60%{content: "I AM D|";}
 61%{content: "I AM De|";}
 62%{content: "I AM Dev|";}
 64%{content: "I AM Deve|";}
 66%{content: "I AM Devel|";}
 68%{content: "I AM Develo|";}
 70%{content: "I AM Develop|";}
 72%{content: "I AM Develope|";}
 74%{content: "I AM Developer|";}
 80%{content: "I AM Develope|";}
 84%{content: "I AM Develop|";}
 88%{content: "I AM Develo|";}
 90%{content: "I AM Devel|";}
 92%{content: "I AM Deve|";}
 94%{content: "I AM Dev|";}
 96%{content: "I AM De|";}
 98%{content: "I AM D|";}
 100%{content: "I AM |";}
}
.home__icon ul li
{
    border: transparent solid;
    transition: all 0.5s;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color:rgba(0, 0, 0, 0.6);

}

/*  -------------E N D   H O M E   S E C T I O N------------ */


/*  ------------- A B O U T M E   S E C T I O N------------ */


.about_me
{
    padding: 100px 0;
    
}
.about__image
{
    text-align: end;
}
.about_me .about__image:after {
    content: '';
    width: 53%;
    height: 80%;
    position: absolute;
    right: 53%;
    bottom: -5%;
    background-image: url(dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.about_caption h3
{
 font-weight: 900;
 font-family: 'Montserrat', sans-serif;
}
.name_percent p
{
    color: var(--home-color) !important;
    
    
}
.name_percent
{  
    top: 10%;
    
}
.percent
{
    padding-left: 150%;
}
.progress
{
    height: 1.4rem;
    --bs-progress-bar-bg:var(--dark-color);
}
@media screen and (max-width:600px)
{
    .about_caption 
    {
        padding-top: 10%;
        width: 100%;
    }
}
@media screen and (min-width:601px) and (max-width:700px)
{
    .about_caption 
    {
        padding-top: 10%;
    }
}
@media screen and (min-width:701px) and (max-width:800px)
{
    .about_caption 
    {
        padding-top: 10%;
    }
}
@media screen and (min-width:801px) and (max-width:900px)
{
    .about_caption 
    {
        padding-top: 10%;
    }
}
@media screen and (min-width:901px) and (max-width:1200px)
{
    .about_caption 
    {
        padding-top: 10%;
    }
}
.btn_style
{
    transition: all 0.5s;
}
.btn_style:hover
{
    background-color: #fff !important;
    color: black !important;
    border: 0.5px solid;
}
.btn__style
{    border: 0.5px solid;
    transition: all 0.5s;
}
.btn__style:hover
{
    background-color:var(--dark-color) !important;
    color: var(--home-color) !important;
    border: 0.5px solid;
}

 /*  ------------- E N D   A B O U T M E   S E C T I O N------------ */


   /*  ------------- S E R V I C E S   S E C T I O N------------ */

   .section
   {
    padding: 100px 0;

   }
.section__caption h3
 {
    /* font-weight: 900; */
    position: relative;
    display: inline-block;
    z-index: 4;
}
.section__caption h3:after {
    content: '';
    width: 100%;
    height: 30px;
    background-image: url(dots.png);
    /* background-repeat: repeat; */
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}
.services_content .service__icone 
{
    border:transparent solid ;
    background-color: rgba(221, 214, 214, 0.6);
    width: 20%;
    height: 65px;
    transition: all 1s;
}
.services_content:hover .service__icone
{
    background-color: var(--dark-color);
    color: var(--home-color);
}
/*  ------------- E N D  S E R V I C E S   S E C T I O N------------ */

/*  ------------- W O R K S   S E C T I O N------------ */
.layer
{
   width: 95%;
   height: 95%;
   position: absolute;
   top: 3%;
   left:3%;
   background-color: rgba(246, 246, 246, 0.9);
   opacity: 0;
   transition: all 0.5s;
}
.work
{
    position: relative;
    /* overflow: hidden; */
}
.work:hover .layer
{
    opacity: 1;
    border: 4px solid transparent;
}

.ic1
{
    border:transparent solid ;
    background-color: var(--dark-color);
    width: 20%;
    height: 25px;
    transition: all 1s;
    color: var(--home-color);
    margin: 0 5px;
}
.ic1:hover  
{
    background-color: var(--home-color);
    color: var(--dark-color);
}

.ic2
{
    border:transparent solid ;
    background-color: var(--dark-color);
    width: 20%;
    height: 25px;
    transition: all 1s;
    color: var(--home-color);
    margin: 0 5px;
}
.ic2:hover
{
    background-color: var(--home-color);
    color: var(--dark-color);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: transparent !important;
    color: var(--dark-color) !important;
}
.nav-pills .nav-link, .nav-pills .show>.nav-link
{
    color: var(--dark-color) !important;
    font-weight: 900;
}
.nav-item button.active
{
    position: relative;
}
.nav-item .active::after
{
   width: 50%;
}
.nav-item button::after
{
    content: "";
    position: absolute;
    border: var(--dark-color) solid 1px;
    background-color: black;
    width: 0%;
    top: 80%;
    left: 50%;
    translate: -50%;
    transition: all 0.4s;

}

/*  -------------E N D  W O R K S   S E C T I O N------------ */

/*  -------------C L I E N T   S E C T I O N------------ */
 
.carousel-indicators
{
    position: relative !important;

}
.carousel-indicators [data-bs-target]
{
    background-color: rgba(0, 0, 0, 0.8)!important;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.carousel-item p, span
{
    color:#748182 ;
    width: 70%;
}
@media screen and (max-width:600px)
{
   .carousel-item p
    {
      width: 100%;
    }
    
}
@media screen and (min-width:601px) and (max-width:700px)
{
   .carousel-item p
    {
      width: 100%;
    }
    
}
@media screen and (min-width:701px) and (max-width:800px)
{
   .carousel-item p
    {
      width: 100%;
    }
    
}@media screen and (min-width:801px) and (max-width:900px)
{
   .carousel-item p
    {
      width: 70%;
    }
    
}@media screen and (min-width:901px) and (max-width:1200px)
{
   .carousel-item p
    {
      width: 70%;
    }
    
}
.carousel-item span
{
    font-size: 0.8rem;
    font-weight: bolder;
}

/*  -------------E N D   C L I E N T   S E C T I O N------------ */

/*  -------------B L O G   S E C T I O N------------ */
.carousel-indicators1 [data-bs-target]
{
    position: relative;
    border: 1px solid red !important;
    background-color: rgb(251, 0, 0) !important;
    width: 5%;
}
.carousel-indicators1 button
{
    position: absolute;
    top: -100%;
    left: 50%;

}
.card-body a
{
    color: #6c757d;
    text-decoration: none;
}
.card-body h4 a
{
    color: var(--dark-color) !important;
    font-weight: 900;
}
.card-body span a
{
    position: relative;
    
}
.card-body span a::after
{
    position: absolute;
    content: "";
    border:solid 1px;
    width: 100%;
    top: 100%;
    left: 50%;
    translate: -50%;
    background-color: #6c757d;
}
.card_image 
{
    overflow: hidden;
    /* transition: all 1s; */
}

.card_image:hover img
{
    transform: scale(1.5);
    overflow: hidden;
    transition: all .8s;
}
/*  -------------E N D B L O G   S E C T I O N------------ */

/*  -------------C O N T A C T   S E C T I O N------------ */
.icone i
{
    border:transparent solid ;
    background-color: rgba(221, 214, 214, 0.6);
    width: 60px;
    height: 60px;
    transition: all 1s;
}
.icone:hover i
{
    background-color: var(--dark-color);
    color: var(--home-color);
}
.form-control
{
    background-color: #f4f4f4;
}
.btn-dark:hover
{
    background-color: var(--home-color);
    color: var(--dark-color);
    transition: all 0.5s;
}

/*  -------------E N D   C O N T A C T   S E C T I O N------------ */

 /*  ------------- F O O T E R   S E C T I O N------------ */
 footer
 {
    background: #1c1c1c !important;

 }
